<form [formGroup]="categoryForm" (ngSubmit)="saveChanges()">
  <app-form-buttons>
    <div card-buttons>
      <button type="button" class="btn btn-danger" (click)="deleteCategory()" *ngIf="!isNewCategory">Delete</button>
      <button class="btn btn-success">Save</button>
    </div>
  </app-form-buttons>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Editing {{ category?.categoryName }}</div>
        <div class="card-body">
          <div class="form-group">
            <label for="name">Category Name</label>
            <input type="text" class="form-control" formControlName="categoryName" />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<app-debug-form [form]="categoryForm"></app-debug-form>
