<div class="search">
  <input
    #searchBox
    class="form-control search__input"
    [(ngModel)]="customerSearchText"
    (keyup)="search(searchBox.value)"
    [placeholder]="inputPlaceholderText"
  />
  <div class="search__results" *ngIf="totalItems > 0">
    <div class="search__list">
      <ng-content *ngIf="!loading; else loadingTemplate" ></ng-content>
      <ng-template #loadingTemplate>
        <p class="text-center py-3">Loading...</p>
      </ng-template>
    </div>
    <div class="search__pagination" *ngIf="paginationVisible && !loading">
      <div class="d-flex justify-content-between align-items-center">
        <div>{{ totalItems }} results</div>
        <div>Page {{ currentPage }} of {{ totalPages }}</div>
        <div>
          <button type="button" class="btn btn-sm btn-info" [disabled]="!previousEnabled" (click)="previousNext(-1)">
            prev
          </button>
          <button type="button" class="btn btn-sm btn-info" [disabled]="!nextEnabled" (click)="previousNext(1)">
            next
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="search__no-results" *ngIf="totalItems === 0 && searchBox.value.length > 0 && !loading">
    There are no results based on your query.
  </div>
</div>
