<div class="row">
  <div class="col-lg-6">
    <form class="card" [formGroup]="brandForm" (ngSubmit)="saveChanges()">
      <div class="card-header">Editing {{ brand?.brandName }}</div>
      <div class="card-body">
        <div class="form-group">
          <label for="name">Brand Name</label>
          <input type="text" class="form-control" formControlName="brandName" />
        </div>

        <button class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" (click)="deleteBrand()" *ngIf="!isNewBrand">Delete</button>
      </div>
    </form>
  </div>
</div>

<app-debug-form [form]="brandForm"></app-debug-form>
