<div class="row mb-3">
  <div class="col-12">
    <div [formGroup]="form">
      <div formArrayName="products">
        <div class="card" [formGroupName]="productIndex">
          <div class="card-body">
            <div class="row">
              <div class="col-12 mb-3">
                <p class="m-0">
                  <b>{{ productName }}</b>
                </p>
                <small>List Price: {{ productPrice | currency: 'GBP' }}</small>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label attr.for="{{ 'product' + productIndex + 'DiscountId' }}" class="small">Discount (%)</label>
                  <input
                    id="{{ 'product' + productIndex + 'DiscountId' }}"
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="discount"
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label attr.for="{{ 'product' + productIndex + 'QuantityId' }}" class="small">Quantity</label>
                  <input
                    id="{{ 'product' + productIndex + 'QuantityId' }}"
                    type="number"
                    class="form-control form-control-sm"
                    formControlName="quantity"
                  />

                  <small
                    class="text-danger"
                    *ngIf="product.get('quantity').errors?.max || product.get('quantity').errors?.min"
                  >
                    Quantity must be between 1 & 5.
                  </small>
                </div>
              </div>
            </div>

            <app-form-buttons [altBackground]="true">
              <div card-text>Total: {{ productPriceAfterDiscounts | currency: 'GBP' }}</div>
              <div card-buttons>
                <div class="btn btn-sm btn-icon btn-danger" (click)="remove()"><i class="fa fa-trash-o"></i></div>
              </div>
            </app-form-buttons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
