<header class="navbar navbar-expand navbar-dark bg-dark px-4 flex-column flex-md-row">
  <!-- <ul class="navbar-nav flex-row">
    <li class="nav-item"><a class="nav-link" href="''">Menu Item</a></li>
    <li class="nav-item"><a class="nav-link" href="''">Menu Item</a></li>
    <li class="nav-item"><a class="nav-link" href="''">Menu Item</a></li>
  </ul> -->

  <div class="ml-auto">
    <div class="d-flex">
      <div class="mr-2" *ngIf="isLoggedIn">
        <app-product-search></app-product-search>
      </div>
      <div class="mr-2" *ngIf="isLoggedIn">
        <app-customer-search (resultClickChanged)="handleCustomerSelect($event)"></app-customer-search>
      </div>
      <div class="mr-2" *ngIf="isLoggedIn">
        <app-recent-customers></app-recent-customers>
      </div>

      <!-- If not logged in -->
      <button class="btn btn-info" (click)="login()" *ngIf="!isLoggedIn">Login</button>

      <!-- If logged in -->
      <div *ngIf="isLoggedIn" class="btn-group">
        <button type="button" class="btn btn-primary"><i class="fa fa-user"></i>{{ userName }}</button>
        <div class="btn-group" ngbDropdown role="group">
          <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <button ngbDropdownItem (click)="logout()">Logout</button>
            <!-- <button ngbDropdownItem (click)="toggleDebugging()">
              Debug <span *ngIf="isDebug" class="badge badge-success">On</span> <span *ngIf="!isDebug" class="badge badge-danger">Off</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
