<header class="bg-light pt-4 pb-4 pb-md-5 px-4 px-lg-5 d-md-block align-items-center title">
  <div class="d-flex">
    <h1 class="mb-4 mr-auto mr-md-none">Customer</h1>
    <div class="ml-auto">
      <button class="btn btn-outline-secondary" [routerLink]="['/customers', 'list', 'all']" title="View all customers">
        <i class="fa fa-list"></i>View All
      </button>
    </div>
  </div>

  <ul class="nav-tabs px-4 px-lg-5 content-tabset justify-content-md-start justify-content-end nav" role="tablist">
    <li class="nav-item">
      <a [routerLink]="['edit']" routerLinkActive="active" class="nav-link"> Details </a>
    </li>
    <li class="nav-item" *ngIf="!isNewCustomer">
      <a [routerLink]="['orders']" routerLinkActive="active" class="nav-link"> Orders </a>
    </li>
  </ul>
</header>

<div class="container-fluid pt-3 pb-5 px-2 px-md-4 px-lg-2">
  <router-outlet></router-outlet>
</div>
