<header class="bg-light pt-4 pb-md-5 px-4 px-lg-5 d-flex d-md-block align-items-center title">
    <div class="d-flex">
        <h1 class="mb-4 mr-auto mr-md-none">Categories</h1>
        <div class="ml-auto">
            <!-- <button class="btn btn-outline-secondary" [routerLink]="['/categories', 'list', 'all']" title="View all categories">View All</button> -->
        </div>
    </div>
    
    <ul class="nav-tabs px-4 px-lg-5 content-tabset justify-content-md-start justify-content-end nav" role="tablist">
        <li class="nav-item">
            <a [routerLink]="['/categories']" routerLinkActive="active" class="nav-link"> Categories </a>
        </li>
    </ul>
</header>

<div class="container-fluid pt-3 pb-5 px-2 px-md-4 px-lg-2">
    <router-outlet></router-outlet>
</div>