<app-page-header>
    <h1>Customers</h1>
    <ul class="nav-tabs px-4 px-lg-5 content-tabset justify-content-md-start justify-content-end nav" 
        role="tablist"
        slot="submenu"> 
        <li class="nav-item">
            <a [routerLink]="['/customers']" routerLinkActive="active" class="nav-link"> Customers ({{customerCount$ | async}}) </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/products', 'list', 'recently-viewed']" routerLinkActive="active" class="nav-link"> Recently Viewed ({{recentlyViewedCustomersCount$ | async}}) </a>
        </li>
    </ul>
</app-page-header>


<div class="container-fluid pt-3 pb-5 px-2 px-md-4 px-lg-2">
    <router-outlet></router-outlet>
</div>
