<h5 class="card-title">
  Products <span class="small" *ngIf="productsFormArray.length > 0">{{ productsFormArray.length }} items</span>
</h5>

<div class="form-group">
  <app-product-search (resultClickChanged)="selectProduct($event)"></app-product-search>

  <div class="alert alert-danger my-3" *ngIf="productsFormArray.errors?.required">
    Please select at least 1 product
  </div>
</div>

<div class="mb-3" *ngIf="productsFormArray.controls.length > 0">
  <div [formGroup]="fg">
    <div formArrayName="products" *ngFor="let product of productsFormArray.controls; let i = index">
      <div [formGroupName]="i">
        <app-product
          [form]="fg"
          [product]="product"
          [productIndex]="i"
          (removeProduct)="removeProduct($event)"
        ></app-product>
      </div>
    </div>
  </div>
</div>
