<app-search-list-base
  (searchTextEvent)="gotSearchFromChild($event)"
  (pageChanged)="gotPageFromChild($event)"
  [pageSize]="filter.pageSize"
  [totalItems]="totalRecords"
>
  <div
    *ngFor="let customer of customers?.results"
    class="search__item"
    (click)="selectCustomer(customer)"
    [title]="'Select ' + customer.firstName + ' ' + customer.lastName"
  >
    {{ customer.firstName }} {{ customer.lastName }}<br />
    <small>{{ customer.street }}, {{ customer.state }}, {{ customer.city }}</small>
  </div></app-search-list-base
>
