<div *ngIf="brands">
  <app-filter-collapse filterBtnText="Filter Brands">
    <div class="card mb-3">
      <div class="card-header">Filter</div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <form class="form" #form="ngForm" (ngSubmit)="searchBrands()">
              <div class="form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control form-control-sm" name="search" [(ngModel)]="brandFilter.search" />
              </div>
              <button class="btn btn-primary">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </app-filter-collapse>

  <app-pagination
    [totalItems]="brands.totalRecords"
    [pageSize]="brands.pageSize"
    (pageChanged)="pageChanged($event)"
    (pageSizeChanged)="pageSizeChanged($event)"
  >
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Products in brand</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let brand of brands.results">
          <td>{{ brand.brandId }}</td>
          <td>{{ brand.brandName }}</td>
          <td>{{ brand.productsInBrand }}</td>
          <td class="text-right">
            <button class="btn btn-sm btn-outline-primary" [routerLink]="['/brand', brand.brandId, 'edit']">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </app-pagination>
</div>
